<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <div class="register">
        <h2>Register your team for Young Innovators' Program 2024</h2>
        <div class="regt-form">

            <form action="">
                <div class="mentor-details">
                    <h3>Mentor details</h3>
                    <label for="mentor-name">Name : </label>
                    <input type="text" id="mentor-name" name="mentor-name" placeholder="Enter Mentor's name"> <br><br>
                    <label for="mentor-email">Email : </label>
                    <input type="email" id="mentor-email" name="mentor-email" placeholder="Enter Mentor's email"> <br><br>
                    <label for="mentor-phone">Phone no. : </label>
                    <input type="text" id="mentor-phone" name="mentor-phone" placeholder="Enter Mentor's phone no."><br><br>
                </div>
                
                <div class="member-1-details">
                    <h3>School details</h3>
                    <label for="member1-name">School Name : </label>
                    <input type="text" id="school-name" name="school-name" placeholder="Enter School's name"> <br><br>
                    <label for="member1-email">School's Email : </label>
                    <input type="email" id="school-email" name="school-email" placeholder="Enter your school's e-mail id"> <br><br>
                    <label for="school-phone">School's Phone no. : </label>
                    <input type="text" id="school-phone" name="school-phone" placeholder="Enter your school's phone no."><br><br>
                </div>
                  
                <div class="member-2-details">
                    <h3>Member 2 details</h3>
                    <label for="member2-name">Name : </label>
                    <input type="text" id="me-name" name="member2-name" placeholder="Enter Mentor's name"> <br><br>
                    <label for="member2-email">Email : </label>
                    <input type="email" id="member2-email" name="member2-email" placeholder="Enter Mentor's email"> <br><br>
                    <label for="member2-phone">Phone no. : </label>
                    <input type="text" id="member2-phone" name="member2-phone" placeholder="Enter Mentor's phone no."><br><br>
                </div>
                
                <div class="member-3-detils">
                    <h3>Member 3 details</h3>
                    <label for="member3-name">Name : </label>
                    <input type="text" id="me-name" name="member3-name" placeholder="Enter Mentor's name"> <br><br>
                    <label for="member3-email">Email : </label>
                    <input type="email" id="member3-email" name="member3-email" placeholder="Enter Mentor's email"> <br><br>
                    <label for="member3-phone">Phone no. : </label>
                    <input type="text" id="member3-phone" name="member3-phone" placeholder="Enter Mentor's phone no."><br><br>
                </div>
                
                <button>Submit</button>

            </form>
        </div>
    </div>
</body>
</html>